.LoginButton{
  width: 12rem!important;
  margin: 0.5rem!important;
  background: #F8C822!important;
  color: #FFFFFF!important;
  border-radius: 20px!important;
  font-family: poppins!important;
}

.LoginButtonBorder{
  width: 12rem!important;
  margin: 0.5rem!important;
  border-color: #000000!important;
  color: #000000!important;
  border-radius: 20px!important;
  font-family: poppins!important;
}

.LoginCheck{
  color: black!importan;
  font-family: poppins!important;
}

<<<<<<< HEAD
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
=======
.loginContent{
  align-content: center!important;
>>>>>>> 021cff2e531755a9de5343c065f3619e1b9b76fb
}
