.RegisterButton{
  width: 12rem!important;
  margin: 0.5rem!important;
  background: #F8C822!important;
  color: #FFFFFF!important;
  border-radius: 20px!important;
  font-family: poppins!important;
}

.RegisterButtonBorder{
  width: 12rem!important;
  margin: 0.5rem!important;
  border-color: #000000!important;
  color: #000000!important;
  border-radius: 20px!important;  
}
