.card {
   max-width: 345px;
}

.card li {
  list-style: none;
}

.CardContentText {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  overflow: 'hidden';
}

.flex-top {
  
}
