.perfilAvatar{

}

.perfilTexto{

}

.perfilTextoSubtitle{
  font-weight: 700 !important;
  font-family: poppins!important;
  padding: 1rem!important;
}

.perfilCardImagen{
  width: 10rem!important;
  height: 10rem!important;
  border-radius: 1rem!important;
  align-content: center!important;
  margin: 0.5rem!important;
}

.perfilNavbar{
}
